*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(20, 20, 20);
    font-family: 'Kanit', sans-serif;
}

.main-block {
    height: 100vh;
    background: rgb(20, 20, 20);
}


.first-row {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-top: 15px;
}

.number-between {
    font-size: 18px;
    font-weight: bold;
}

.button{
    background-color: rgb(0, 162, 255);
    width: 100px;
    color: white;
    height: 60px;
    border-radius: 15%;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button::before {
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.482);
    transform: translate(-4rem) skewX(-45deg);
}


.button:hover::before {
    animation: move-light 1s;
}
/* .button:hover {
    background-color: aliceblue;
    cursor: pointer;
    position: relative;
    top: 1px;
} */

.second-row {
    text-align: center;
    margin-top: 65px;
}

.name-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: aliceblue;
}

.left-block {
    margin-left: 100px;
}

.block-with-secret-number {
    display:flex;
    justify-content: center;
    
}

.block-with-secret-number>span {
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 500;
    font-size: 50px;
    width: 150px;
    height: 150px;
    background-color:rgba(61, 100, 218, 0.445);
    border-radius: 20%;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3;

}


.third-row {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
}

.text {
    
    color: aliceblue;
    margin-bottom: 15px;
    text-align: center;
}


.area-enter {
    text-align: center;
}

.area-enter>input {
    width: 205px;
    height: 100px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 30px;
    background-color:rgba(36, 35, 35, 0.59);
    text-align: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.btn-two  {
    text-align: center;
    padding-top: 35px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn-two button::before {
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.482);
    transform: translate(-4rem) skewX(-45deg);
}

.btn-two button:hover::before {
    animation: move-light 1s;
}

.btn-two button {
    background-color: rgb(0, 162, 255);
    width: 100px;
    color: white;
    height: 60px;
    border-radius: 15%;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

.info-game {
    font-size: 18px;
    font-weight: bold;
}



/* КЛАССЫ ПРИСВАИМЫЕ JAVASCRIPT */

.disable {
    display: none;
}

.disp {
    display: block;
}

.active {
    display: block;
}

.no-active-btn {
    pointer-events: none;
}

.pop-up-window {
    
    color: rgb(255, 0, 0);
    
}


/* OTHER ANIMATION */




.ball {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 20px;
    animation: 2s bounce ease infinite;
}

.blue {
    background: #4285f5;
}

.red {
    background: #ea4436;
    animation-delay: .25s;
}

.yellow {
    background: #fbbd05;
    animation-delay: .5s;
}

.green {
    background: #34a952;
    animation-delay: .75s;
}


@keyframes bounce {
    50% {
        transform: translateY(25px);
    }
}



@keyframes move-light {
    from {
        transform: translate(-4rem) skewX(-45deg); 
    }
    to {
        transform: translate(10rem) skewX(-45deg);
    }
}





@media (max-width:550px) {
    .button,
    .btn-two button {
        width: 50px;
        height: 30px;
        font-size: 13px;
    }
    .number-between {
        font-size: 13px;
    }
    .name-title {
        font-size: 20px;
    }
    .block-with-secret-number>span {
        width: 100px;
        height: 100px;
    }

    .left-block {
        margin: 0;
    }

    .text {
        font-size: 13px;
    }
    
    .area-enter>input {
        width: 150px;
        height: 75px;
    }

    .info-game {
        font-size: 13px;
        padding-top: 50px;
    }

    .btn-two button::before {
        width: 3px;
    }

    .pop-up-window {
        font-size: 13px;
        left: 90px;
        bottom: 170px;
    }
    
    .text.pop-up-window {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 10px;
        margin-bottom: 10px;
    }

}

@media (max-width:300px) {
    .info-game {
        font-size: 10px;
        padding-top: 42px;
        padding-left: 10px;
    }
}

