* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(20, 20, 20);
  font-family: "Kanit", sans-serif;
  color: white;
}

.welcome {
  font-size: 65px;
}

.text-menu {
  display: flex;
  justify-content: center;
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
  font-size: 50px;
  color: rgb(0, 162, 255);
  text-shadow: #2196f3 1px 0 10px, #2196f3 1px 0 30px;
}

.choose-option {
  text-align: center;
  margin-top: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  color: rgb(0, 162, 255);
  text-shadow: #2196f3 1px 0 10px, #2196f3 1px 0 30px;
}

.all-options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.option {
  width: 120px;
  height: 120px;
  /* border: 1.5px black solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  background-color: rgb(20, 20, 20);
  border-radius: 5%;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10;
  position: relative;
}

.tries {
  display: block;
}

.option.one:hover {
  transform: scale(1.075);
  /* transition: 1s; */
  color: rgb(0, 0, 0);
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  text-shadow: #2196f3 1px 0 10px;
  transition-delay: 0.7s;
}

.option.two:hover {
    transform: scale(1.075);
    /* transition: 1s; */
    color: rgb(0, 0, 0);
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    text-shadow: #2196f3 1px 0 10px;
    transition-delay: 0.7s;
}

.option.three:hover {
    transform: scale(1.075);
    /* transition: 1s; */
    color: rgb(0, 0, 0);
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    text-shadow: #2196f3 1px 0 10px;
    transition-delay: 0.7s;
}

/* ОПУСКАЮЩЕЕСЯ ОКНО */

.option {
  position: relative;
  color: white;
  overflow: hidden;
  transition: 0.5s;
}

.button-line {
  position: absolute;
  display: block;
}

.button-line-top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.option:hover .button-line-top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-line-bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.option:hover .button-line-bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button-line-left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2196f3);
}

.option:hover .button-line-left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.button-line-right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.option:hover .button-line-right {
  top: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.ddm {
  padding-top: 15px;
  background: rgba(255, 255, 255, 0.123);
  /* border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%; */
  border-radius: 15%;
  position: relative;
  height: 80px;
  top: -100px;
  z-index: 2;
  transition: all 300ms;
}

.down {
  top: -7px;
  transition: all 0.8s;
  transition-delay: 0.3s;
}



/* .ddm:hover {
    top: -15px;
} */

.loading {
  margin-inline: 5px;
  border: solid 0.1px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 20%;
  /* background-color: rgba(255, 255, 255, 0.275); */
}

.loading .level {
  width: 100%;
  text-align: center;
  /* border: solid 0.3px; */
  /* margin-inline: 3px; */
  border-radius: 15%;
  position: relative;
  /* background-color: #4e802f; */
  background-color:black;
  left: -100%;
  transition: 0.9s;
  transition-delay: 0.9s;
}

.animGreen {
  left: 0 !important;
}

.animYellow {
  left: 0 !important;
}

.animRed {
  left: 0 !important;
}

.loading .level.L {
  background-color: #468e19;
  transition: 1.1s;
  transition-delay: 0.5s;
}

.loading .level.M {
  background-color: #d9d958;
  transition: 1.1s;
  transition-delay: 0.4s;
}

.loading .level.H {
  background-color: #ea4629;
  transition: 1.1s;
  transition-delay: 0.5s;
}

.templates {
  text-align: center;
  padding-top: 10px;
}

.reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 280px;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  color: rgb(0, 162, 255);
  text-shadow: #2196f3 1px 0 10px, #2196f3 1px 0 30px;
}

.reserved span {
  padding-right: 10px;
  font-size: 25px;
  display: inline-block;
}

.active-display {
  display: block;
}

.wrap {
  display: block;
}

.disable {
  display: none;
}

.for-mobile {
  text-align: center;
  display: flex;
  justify-content: center;
}

.for-mobile .mobile-btn {
  width: 50px;
  border-radius: 20px;
  border: 0;
  background-color: rgba(36, 38, 150, 0.522);
  box-shadow: 0 0 15px rgba(36, 38, 150, 0.522);
  display: none;
  justify-content: center;
}

/* .event-none {
  pointer-events: none;
} */




@keyframes drop-down {
  100% {
    top: -15px;
    transition: all 0.7s;
  }
}


@media (max-width:1000px) {
  .welcome {
    text-align: center;
    font-size: 65px;
  }

  .choose-option {
    font-size: 25px;
  }

  .option {
    width: 110px;
    height: 110px;
    box-shadow: none;
  }

  .option.one:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .option.two:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .option.three:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .all-options {
    overflow: hidden;
  }

  .ddm {
    height: 65px;
    top: -131px;
    /* padding-top: 30px; */
  }

  .templates {
    padding-bottom: 3px;
    padding-top: 3px;
  }

  .down {
    top: -6px;
  }

  .loading {
    margin-inline: 10px;
    margin-top: -5px;
  }

  .for-mobile .mobile-btn {
    display: flex;
  }
  
}





@media (max-width:500px) {
  .welcome {
    text-align: center;
    font-size: 35px;
  }

  .all-options {
    overflow: hidden;
  }

  .choose-option {
    font-size: 15px;
  }

  .option {
    width: 82px;
    height: 80px;
    box-shadow: none;
  }

  .option.one:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .option.two:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .option.three:hover {
    transform: scale(1.050);
    box-shadow: none;
  }

  .templates {
    font-size: 12px;
  }

  .ddm {
    height: 70px;
    padding-top: 20px;
  }

  .reserved {
    margin-top: 180px;
  }
}



@media (max-width:300px) {
  .option {
    width: 50px;
    height: 50px;
    box-shadow: none;
  }

  .ddm {
    width: 50px;
    height: 40px;
    padding-top: 20px;
  }

  .down {
    top: -19px;
  }

  .loading {
    margin-inline: 5px;
    height: 27%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .templates {
    font-size: 8px;
}

  .option {
    font-size: 15px;
  }

  .reserved {
    font-size: 9px;
  }

  .reserved span {
    font-size: 18px;
  }
}
